<?xml version='1.0' ?>
<model>
    <name>iris_platform</name>
    <version>1.0</version>
    <sdf version='1.7'>iris_platform.sdf</sdf>
    <author>
        <name>LEE,YA-JIE</name>
        <email>leesparks8@gmail.com</email>
    </author>
    <description>assemble_of_iris_platform</description>
</model>
